<div class="dropzone_container" appDropFile (fileDropped)="droppedFile($event)">
	<div class="previews" *ngIf="imgURL">
		<div class="uploaded_image">
			<div class="close_button">
				<img src="https://www.reduceimages.com/img/close.png">
    		</div>
				<div class="preview_container">
					<div class="vert"></div>
					<img class="preview" [src]="imgURL">
    			</div>
          <div class="filename">{{imagePath.name}}</div>
          <div class="filesize">{{bytesToSize(imagePath.size || 0)}}</div>
				</div>
			</div>
			<div class="drag-section">
				<div class="drop-message" *ngIf="!imgURL">
					<h4>Drop your image here!</h4>
				</div>
				<button class="file-upload-label" (click)="inputFile.click()">Select files</button>
			</div>
		</div>
		<input type="file" #inputFile (change)="preview(inputFile.files)">