<div class="dropzone_container">
	<div class="previews">
		<div class="uploaded_image">
			<div class="close_button">
				<img src="https://www.reduceimages.com/img/close.png">
    		</div>
				<div class="preview_container" *ngIf="imgURL">
					<div class="vert"></div>
					<img class="preview" [src]="imgURL">
    			</div>
          <div class="filename">Screenshot from 2020-12-04 18-39-37.png</div>
          <div class="filesize">332.11 KB</div>
				</div>
			</div>
			<div class="drag-section">
				<div class="drop-message">
					<h4>Drop your image here!</h4>
				</div>
				<button class="file-upload-label" (click)="inputFile.click()">Select files</button>
			</div>
		</div>
		<input type="file" #inputFile (change)="preview(inputFile.files)">